<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h3>Pet Types</h3>
        <ul class="list-unstyled">
          <li><a href="/pet-types/dogs">Dogs</a></li>
          <li><a href="/pet-types/cats">Cats</a></li>
          <li><a href="/pet-types/small-animals">Small Animals</a></li>
          <li><a href="/pet-types/fish-aquatic">Fish &amp; Aquatic</a></li>
          <li><a href="/pet-types/reptiles">Reptiles</a></li>
          <li><a href="/pet-types/birds">Birds</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h3>Pet Care</h3>
        <ul class="list-unstyled">
          <li><a href="/pet-care/nutrition">Nutrition</a></li>
          <li><a href="/pet-care/grooming">Grooming</a></li>
          <li><a href="/pet-care/health">Health</a></li>
          <li><a href="/pet-care/training">Training</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h3>Resources</h3>
        <ul class="list-unstyled">
          <li><a href="/resources/articles">Articles</a></li>
          <li><a href="/resources/videos">Videos</a></li>
          <li><a href="/resources/guides">Guides</a></li>
          <li><a href="/resources/product-reviews">Product Reviews</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h3>About</h3>
        <ul class="list-unstyled">
          <li><a href="/about/our-mission">Our Mission</a></li>
          <li><a href="/about/our-team">Our Team</a></li>
          <li><a href="/about/contact-us">Contact Us</a></li>
          <li><a href="/about/privacy-policy">Privacy Policy</a></li>
          <li><a href="/about/terms-of-service">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline social-media">
          <li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="tf-ion-social-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
        </ul>
        <p class="copyright-text">
          {{ site.Params.copyright | markdownify }}
        </p>
      </div>
    </div>
  </div>
</footer>


<!-- Snipcart public key -->
{{ with site.Params.snipcart }}
{{ if .enable }}
{{ with .snipcart_api }}
<div hidden id="snipcart" data-api-key="{{.}}"></div>
{{ end }}
{{ end }}
{{ end }}

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" }}
<script src="{{ $script.Permalink }}"></script>