<!-- navigation -->
<header class="sticky-top bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">{{ if site.Params.logo }} <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" {{with site.Params.logo_width}}width="{{.}}"{{end}}> {{ else }} {{ site.Title }} {{ end }}</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <nav class="main-navigation">
          <ul>
            <li><a href="{{ site.BaseURL | relLangURL }}">Home</a></li>
            <li class="nav-item has-dropdown">
              <a href="/pet-types">Pet Types</a>
              <ul class="dropdown">
                <li><a href="/pet-types/dogs">Dogs</a></li>
                <li><a href="/pet-types/cats">Cats</a></li>
                <li><a href="/pet-types/small-animals">Small Animals</a></li>
                <li><a href="/pet-types/fish-aquatic">Fish &amp; Aquatic</a></li>
                <li><a href="/pet-types/reptiles">Reptiles</a></li>
                <li><a href="/pet-types/birds">Birds</a></li>
              </ul>
            </li>
            <li class="nav-item"><a href="/pet-care">Pet Care</a></li>
            <li class="nav-item"><a href="/resources">Resources</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
          </ul>
        </nav>
        {{ partial "form.html" . }}
        <!-- Language List -->
        {{ if .IsTranslated }}
        <select class="lang-list" id="select-language" onchange="location = this.value;">
          {{ $siteLanguages := .Site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
          {{ $translation := .}}
          {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
          {{ $selected := false }}
          {{ if eq $pageLang .Lang}}
          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
          </option>
          {{ else }}
          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
          {{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
        </select>
        {{ end }}
      </div>
      {{ if site.Params.snipcart.enable}}
      <button class="cart snipcart-checkout"><i class="tf-ion-android-cart"></i><span class="badge badge-primary snipcart-items-count"></span></button>
      {{ end }}
    </nav>
  </div>
  {{ with site.Params.googleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
 
      gtag('config', '{{ . }}');
    </script>
{{ end }}
</header>
<!-- /navigation -->