{{ define "main" }}

  {{ partial "list.html" . }}

  {{- partial "banner.html" . }}

  {{- partial "features.html" . }}

  {{- partial "promo.html" . }}

  {{- partial "about-product.html" . }}

  {{- partial "products.html" . }}

  {{- partial "subscription.html" . }}

  {{- partial "testimonials.html" . }}
  
  {{ range where .Data.Pages "Section" "english/blog" }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p>{{ .Summary }}</p>
  {{ end }}
  {{ range (.Paginate .Site.RegularPages).Pages }}
    {{ if ne .Title "Search" }} 
        {{ .Render "summary" }}
    {{ end }}
{{ end }}
{{ end }}
