{{- $p := . -}}
{{- $site := .Site -}}
{{- $isArticle := or $p.IsPage (eq $p.Type "page") -}}
{{- $logoUrl := printf "%s%s" $site.BaseURL "images/logo.png" -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "{{ $site.BaseURL }}#organization",
      "name": "{{ $site.Title }}",
      "url": "{{ $site.BaseURL }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ $logoUrl }}"
      },
      "sameAs": [
        "https://www.facebook.com/forpetswithloveguimaraes/",
        "https://www.instagram.com/for_pets_withlove/"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "{{ $site.BaseURL }}#website",
      "url": "{{ $site.BaseURL }}",
      "name": "{{ $site.Title }}",
      "description": "{{ $site.Params.description }}",
      "publisher": {"@id": "{{ $site.BaseURL }}#organization"}
    }{{ if $isArticle }},
    {
      "@type": "Article",
      "@id": "{{ $p.Permalink }}#article",
      "headline": "{{ $p.Title }}",
      "description": "{{ or $p.Params.description $site.Params.description }}",
      "datePublished": "{{ $p.Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ with $p.Lastmod }}{{ .Format "2006-01-02T15:04:05Z07:00" }}{{ else }}{{ $p.Date.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}",
      "image": {{ with $p.Params.image }}{{ if or (hasPrefix . "http") (hasPrefix . "images/") }}"{{ . | absURL }}"{{ else }}"{{ (printf "images/%s" .) | absURL }}"{{ end }}{{ else }}null{{ end }},
      "url": "{{ $p.Permalink }}",
      "mainEntityOfPage": {"@type": "WebPage", "@id": "{{ $p.Permalink }}"},
      "author": {"@type": "Organization", "name": "{{ $p.Params.author | default $site.Params.author }}"},
      "publisher": {"@id": "{{ $site.BaseURL }}#organization"},
      "articleSection": "{{ $p.Section }}",
      "keywords": {{ with $p.Params.tags }}{{ . | jsonify }}{{ else }}[]{{ end }}
    },
    {
      "@type": "BreadcrumbList",
      "@id": "{{ $p.Permalink }}#breadcrumb",
      "itemListElement": [
        {"@type": "ListItem", "position": 1, "name": "Home", "item": "{{ $site.BaseURL }}"},
        {"@type": "ListItem", "position": 2, "name": "{{ with $p.Section }}{{ . | title }}{{ else }}Blog{{ end }}", "item": "{{ $site.BaseURL }}{{ $p.RelPermalink }}"},
        {"@type": "ListItem", "position": 3, "name": "{{ $p.Title }}", "item": "{{ $p.Permalink }}"}
      ]
    }{{ end }}
  ]
}
</script>